<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HELLA NICE</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
</head>

<body>

    <div id="counter" style="height:100px">

    </div>

    <button id="increment">INCREMENT</button>

    <script>
        var mousedownI = 0 // neeeded to prevent loops
        var $counter = $("#counter")
        $("#increment").on("mouseup", function () {
            mousedownI = 0;
        });
        $("#increment").on("mousedown", function () {
            mousedownI = 1
            setInterval(function () {
                if (mousedownI == 1) {
                    $.post("/increment", {}, function (num) {
                        $counter.text(num);
                    });
                }
            }, 1000);
        });


    </script>
</body>

</html>